/* Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Share Styles */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    /* Root er font size 16 tahole 3*16 = 48px */
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    margin-right: 30px;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* Banner Styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Main Styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}


/* --- Team Section --- */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.6rem;
    font-weight: 500;
}

.teams-title .quick-list {
    color: #727277;
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

.team-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}


/* --- Facts --- */
.facts-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.facts-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;    
}
.card-stats {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-title {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

/* Responsive Media Query */
@media screen and (max-width: 574px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Tablet Or Medium Devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }
}